@import "smart-grid.styl";
// Pixel Perfect

HTML {
  background-repeat: no-repeat;
  background-position: 50% 0;
  /* По умолчанию мобильный макет */
  background-image: url("../maket/01_Home.psd.png");
}

/* Планшет */

// @media ( min-width: 760px) {
//   HTML {
//     /* Планшетный макет */
//     background-image: url("img/index-tablet.png");
//   }
// }
//
// /* Десктоп */
//
// @media ( min-width: 960px) {
//   HTML {
//     /* Десктопный макет */
//     background-image: url("../maket/astral--astral-nalog-desktop-1280.png");
//   }
// }

BODY {
  opacity: .5;
  position relative
}

// Сетка

.carcas {
  position fixed
  left 50%
  transform translate(-50%,0)
  width 100%
  z-index 10000
}

.wrapper {
  wrapper()
  position relative
}

.grid {
  width 100%
  row-flex()
  position absolute
}

.grid_col {
  col()
  size(1)
  background rgba(159, 61, 76, 0.18)
  height 100vh
}

.carcas-btn {
    width 50px
    height 50px
    border-radius 50%
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    position fixed
    display -webkit-flex
    display -ms-flex
    display flex
    align-items center
    justify-content center
    font-size 16px
    color rgba(0, 0, 0, 0.42)
    background #fff
    top 20px
    left 20px
    z-index 100000000
    cursor pointer
}

img[alt=""] {
    border 1px solid red
}
