intend_1 = 10px;
intend_2 = 15px;
intend_3 = 20px;
intend_4 = 25px;

h2 {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    font-family: "Raleway";
}

h6 {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width 750px
    margin 25px auto
}

span {
    color: #8c8c8c;
}

.p-1 {
  padding intend_1 0
}

.p-2 {
  padding intend_2 0
}

.p-3 {
  padding intend_3 0
}

.p-4 {
  padding intend_4 0
}

.pt-1 {
  padding-top intend_1
}

.pt-2 {
  padding-top intend_2
}

.pt-3 {
  padding-top intend_3
}

.pt-4 {
  padding-top intend_4
}

.pb-1 {
  padding-bottom intend_1
}

.pb-2 {
  padding-bottom intend_2
}

.pb-3 {
  padding-bottom intend_3
}

.pb-4 {
  padding-bottom intend_4
}

.py-1 {
    padding-top intend_1
    padding-bottom intend_1
}

.py-2 {
    padding-top intend_2
    padding-bottom intend_2
}

.py-3 {
    padding-top intend_3
    padding-bottom intend_3
}

.py-4 {
    padding-top intend_4
    padding-bottom intend_4
}

.px-1 {
  padding-left intend_1 !important
  padding-right intend_1 !important
}

.px-2 {
  padding-left intend_2 !important
  padding-right intend_2 !important
}

.px-3 {
  padding-left intend_3 !important
  padding-right intend_3 !important
}

.px-4 {
  padding-left intend_4 !important
  padding-right intend_4 !important
}

.m-1 {
  margin intend_1 0
}

.m-2 {
  margin intend_2 0
}

.m-3 {
  margin intend_3 0
}

.m-4 {
  margin intend_4 0
}

.mt-1 {
  margin-top intend_1
}

.mt-2 {
  margin-top intend_2
}

.mt-3 {
  margin-top intend_3
}

.mt-4 {
  margin-top intend_4
}

.mb-1 {
  margin-bottom intend_1
}

.mb-2 {
  margin-bottom intend_2
}

.mb-3 {
  margin-bottom intend_3
}

.mb-4 {
  margin-bottom intend_4
}

.centro {
  text-align center
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content center
  align-items center
}

.open_tab {
  display flex !important
}

.hr-page {
  width 99%
  height 0
  border 1px solid #e8eaf1
}

// btns

.btn {
    display block
    font-family: "Raleway";
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    color white
}

// owlCarousel

.owl-dots {
        position absolute !important
        top 220%
        left 50%
        transform translate(-50%, 0)
    .active {
        width: 15px !important;
        height: 16px !important;
        border: 2px solid #d3c1ad !important;
        background none !important
    }
}

.owl-dot {
    width: 11px !important;
    height: 11px !important;
    opacity: 0.5 !important;
    background-color: #ffffff !important;
    border-radius 50%
    margin 0 5px
}

.owl-nav {
    display flex
    justify-content space-between
    width 100%
    position absolute
    top 50%
    left:50%
    transform translate(-50%, -50%)
    button {
        margin 0 20px
        width: 40px !important;
        height: 73px !important;
        font-size 130px !important
        color: #d3c1ad !important;
    }
}


// menu
nav {
    .fa-bars {
        font-size 25px
        display none
    }
}


@media(max-width: 950px) {
    .nav-content {
        flex-direction column
        justify-content flex-start !important
        width 30% !important
        position fixed
        top 0
        left 0
        background black
        height 100vh
        transform translate(-120%, 0)
    }
    nav .item {
        padding 20px
        &:hover {
            background rgba(255, 255, 255, 0.29)
        }
    }
    .fa-bars {
        display block
        cursor pointer
    }
}
