
center(n) {

   display flex
   justify-content n
   align-items center

}

font(min, max) {

   font-size-responsive: min max 480px 1280px;

}

or( data, width = '560px' ) {

  unquote( '@(max-width:' + width + ') ' + data )

}
