.popap-black {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
    z-index 1000
}

.popap {
    width: 600px;
    min-height: 400px;
    background: #fff;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top 50px
    z-index 1001

    .fa-close {
        font-size 22px
    }
}

.popap-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
