@import "smart-grid.styl";

reset()

body {
    position relative
}

a {
  text-decoration none

  &:focus {
    outline none
  }
}

input {
    outline none
}

button {
  border none
  background none
  cursor pointer

  &:focus {
    outline none
  }
}
