#wrap {
    position fixed
    top 150%
    left:50%
    transform translate(-50%, -50%)
    will-change top
    z-index 1
}

.letter {
    width 100%
    height 100%
    background rgba(#121214, 0.95)
    position fixed
    z-index 1
    display none
    cursor pointer
}

.error {
    text-transform: initial;
    color red
    display block
    margin-bottom 5px
}

#message {
    color #7c7873
}

	#form_wrap { overflow:hidden; height:446px; width 530px; position:relative; top:0px;
		-webkit-transition: all 1s ease-in-out .3s;
		-moz-transition: all 1s ease-in-out .3s;
		-o-transition: all 1s ease-in-out .3s;
		transition: all 1s ease-in-out .3s;}

	#form_wrap:before {content:"";
		position:absolute;
		bottom:128px;left:0px;
		background:url('images/before.png');
		width:530px;height: 316px;}

	#form_wrap:after {content:"";position:absolute;
		bottom:0px;left:0;
		background:url('images/after.png');
		width:530px;height: 260px; }

	#form_wrap.hide:after, #form_wrap.hide:before {display:none; }
	#form_wrap:hover {height:776px;top:-200px;}


	form {background:#f7f2ec url('images/letter_bg.png');
		position:relative;top:200px;overflow:hidden;
		height:200px;width:400px;margin:0px auto;padding:20px;
		border: 1px solid #fff;
		border-radius: 3px;
		-moz-border-radius: 3px; -webkit-border-radius: 3px;
		box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
		-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
		-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
		-webkit-transition: all 1s ease-in-out .3s;
		-moz-transition: all 1s ease-in-out .3s;
		-o-transition: all 1s ease-in-out .3s;
		transition: all 1s ease-in-out .3s;}


		#form_wrap:hover form {height:530px;}

		label {
			margin: 11px 20px 0 0;
			font-size: 16px; color: #b3aba1;
			text-transform: uppercase;
			text-shadow: 0px 1px 0px #fff;
		}

		input[type=text], textarea {
			font: 14px normal normal uppercase helvetica, arial, serif;
			color: #7c7873;background:none;
			width: 380px; height: 36px; padding: 0px 10px; margin: 0 0 10px 0;
			border:1px solid #f8f5f1;
			-moz-box-shadow: inset 0px 0px 1px #726959;
			-webkit-box-shadow:  inset 0px 0px 1px #b3a895;
			box-shadow:  inset 0px 0px 1px #b3a895;
		}

		textarea { height: 80px; padding-top:14px;}

		textarea:focus, input[type=text]:focus {background:rgba(255,255,255,.35);outline:none}

		#form_wrap input[type=submit] {
			position:relative;font-family: 'YanoneKaffeesatzRegular';
			font-size:24px; color: #7c7873;text-shadow:0 1px 0 #fff;
			width:100%; text-align:center;opacity:0;
			background:none;
			cursor: pointer;
			-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
			-webkit-transition: opacity .6s ease-in-out 0s;
			-moz-transition: opacity .6s ease-in-out 0s;
			-o-transition: opacity .6s ease-in-out 0s;
			transition: opacity .6s ease-in-out 0s;
            border none
		}

		#form_wrap:hover input[type=submit] {z-index:1;opacity:1;
			-webkit-transition: opacity .5s ease-in-out 1.3s;
			-moz-transition: opacity .5s ease-in-out 1.3s;
			-o-transition: opacity .5s ease-in-out 1.3s;
			transition: opacity .5s ease-in-out 1.3s;}

			#form_wrap:hover input:hover[type=submit] {color:#435c70;}

// Полоса загрузки

.loading-container .loading-bar {
	margin-bottom: 40px;
}
.loading-bar {
	width: 250px;
	margin: 0px auto;
	height: 30px;
	background-color: #282f32;
	padding: 4px 5px;
	box-shadow: inset 3px 0px 10px rgba(0,0,0,0.1);
}

.amount {
	/* we haven't included the colour yet, we'll get to that later. */
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
	margin-top: -9px;
}

.lines {
	/* the lines overflow the container. This creates a continuous flow of the background */
	width: 400px;
	/* We use a SVG file as the background */
	background: url('img/lines.svg') repeat-x;
	height: 120%;
	text-align: center;
	margin-top: -35px;
	/* Any overflow is hidden */
	overflow: hidden;
	border-radius: 50px;
	/* Implement the animations, we'll get to that later */
	-webkit-animation: moveBars 2s linear infinite;
	-moz-animation: moveBars 2s linear infinite;
	-ms-animation: moveBars 2s linear infinite;
	-o-animation: moveBars 2s linear infinite;
	animation: moveBars 2s linear infinite;
	font-weight: bold;
	color: #fff;
	color: 1px;
	font-size: 18px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.loaded {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	top: 3px;
	font-size: 22px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	color: #fff;
}

.green {
	background-color: #8ac320;
	box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #79aa1e , 0 7px 0 #628c14;
}

.blue {
	background-color: #20b9c3;
	box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #1e8aaa, 0 7px 0 #13768c;
}

.red {
	background-color: #dc6565;
	box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #d23333, 0 7px 0 #8c1212;
}

.blue_hard {
	background-color: #372DB4;
	box-shadow: inset 0px 4px 40px rgba(255,255,255,0.2), 0 10px 10px -5px #372DB4, 0 7px 0 #372DB4;
}

/* ANIMATIONS */
@keyframes moveBars { 100% { margin-left: -180px; } }
@-webkit-keyframes moveBars { 100% { margin-left: -180px; } }
@-moz-keyframes moveBars { 100% { margin-left: -180px; } }
@-ms-keyframes moveBars { 100% { margin-left: -180px; } }
@-o-keyframes moveBars { 100% { margin-left: -180px; } }


// Анимация первого экрана


.reveal.cd-intro-content h1 {
  position: relative;
  /* overwrite default style */
  opacity: 1;
  font-weight: 700;
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}
.reveal.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  opacity: 0;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .reveal.cd-intro-content h1::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content h1 {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.reveal.cd-intro-content p {
  position: relative;
  margin: 0;
  padding: 1em;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 1170px) {
  .reveal.cd-intro-content p {
    padding: 1em 1.6em;
  }
}

.reveal.cd-intro-content h1::after,
.reveal.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.reveal.cd-intro-content .action-wrapper {
  position: relative;
  overflow: hidden;
}
.reveal.cd-intro-content .action-wrapper::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #202e4a;
  -webkit-animation: cd-loading 0.4s 0.3s backwards;
  -moz-animation: cd-loading 0.4s 0.3s backwards;
  animation: cd-loading 0.4s 0.3s backwards;
}
.reveal.cd-intro-content .action-wrapper .cd-btn {
  display: block;
  opacity: 1;
  max-width: 200px;
  margin: 1em auto 0;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content .action-wrapper .cd-btn {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}

@-webkit-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -moz-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.mask-2.cd-intro-content * {
  /* overwrite default style */
  opacity: 1;
}

.mask-2.cd-intro-content .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 0;
  overflow: hidden;
}
.mask-2.cd-intro-content .content-wrapper::before {
  /* vertical bar */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  -webkit-animation: cd-pulse 1.3s 0.3s both;
  -moz-animation: cd-pulse 1.3s 0.3s both;
  animation: cd-pulse 1.3s 0.3s both;
}
.no-cssanimations .mask-2.cd-intro-content .content-wrapper::before {
  opacity: 0;
}
.mask-2.cd-intro-content .content-wrapper > div {
  /* wrap the entire content */
  position: relative;
  z-index: 1;
}

.mask-2.cd-intro-content .content-wrapper,
.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.mask-2.cd-intro-content .content-wrapper {
  -webkit-animation-name: cd-mask-wrapper;
  -moz-animation-name: cd-mask-wrapper;
  animation-name: cd-mask-wrapper;
}

.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-name: cd-mask-content;
  -moz-animation-name: cd-mask-content;
  animation-name: cd-mask-content;
}

@-webkit-keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-wrapper {
  0% {
    -moz-transform: translateX(50%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-content {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Анимация переходов

.panel{
    min-width: calc(100% - 160px);
    height: 100%;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -250%;
    position: absolute;
    background: #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    will-change top
    z-index 1
    margin-left 260px
}
.panel:target{
    margin-top: 0%;
}

// Обо мне карточка

.contact-area {
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact {
  position: relative;
  max-width: 400px;
  box-sizing: border-box;
}
.contact .main-card {
  float: left;
  width: 100%;
  position: relative;
}
.contact .main-card section {
  float: left;
  width: 100%;
  background-color: #372DB4;
}
.contact .main-card section .content {
  float: left;
  width: 100%;
  padding: 20px 30px 20px 30px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
@media (min-width: 414px) {
  .contact .main-card section .content {
    text-align: left;
  }
}
.contact .main-card section .content .aside-card {
  float: left;
  width: 100%;
  color: #ffffff;
  padding 10px 0;
  text-align center
}
.contact .main-card section .content .aside-card h1 {
  font-weight: 100;
  font-size: 22px;
}
.contact .main-card section .content .aside-card p {
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 160%;
}
.contact .main-card .title {
  float: left;
  width: 100%;
  background-color: #4e43d2;
  max-height: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}
.contact .main-card .title.active {
  max-height: 100px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
  box-sizing: border-box;
}
.contact .main-card .title.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: .2s;
}
.contact .main-card .title p {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.contact .main-card button {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: #ffbe44;
  color: #c63535;
  border: 0;
  width: 200px;
  height: 38px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: -24px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: .1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
}
.contact .main-card button span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  transition-delay: .4s;
  display: block;
  width: 200px;
  float: left;
}
.contact .main-card button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  box-sizing: border-box;
}
.contact .main-card button svg path {
  fill: #c63535;
}
.contact .main-card button.active {
  margin-right: 0;
  right: 20px;
  width: 55px;
  height: 55px;
  margin-bottom: -30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.contact .main-card button.active span {
  opacity: 0;
  transition-delay: 0s;
  width: 200px;
}
.contact .main-card button.active svg {
  opacity: 1;
  transition-delay: .5s;
}
.contact .nav-card {
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display flex
  flex-direction column
}
.contact .nav-card.active {
  max-height: 600px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.contact .nav-card.active a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border 1px solid rgba(#493fc8, 0.19)
}
.contact .nav-card.active a:nth-of-type(1) {
  transition-delay: .5s;
}
.contact .nav-card.active a:nth-of-type(2) {
  transition-delay: .7s;
}
.contact .nav-card.active a:nth-of-type(3) {
  transition-delay: .9s;
}
.contact .nav-card.active a:nth-of-type(4) {
  transition-delay: 1.1s;
}
.contact .nav-card.active a:nth-of-type(5) {
  transition-delay: 1.3s;
}
.contact .nav-card.active a:nth-of-type(6) {
  transition-delay: 1.5s;
}

.contact .nav-card a {
  width: 100%;
  margin-top: 18px;
  background-color: #ffffff;
  // padding: 18px 20px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
  display flex
}
@media (min-width: 414px) {
  .contact .nav-card a {
    padding: 14px 30px;
  }
}
.contact .nav-card a .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact .nav-card a .arrow path {
  fill: #e6e6e6;
}
.icons {
    margin-right 20px
}
.icon img {
    width 50px
}
.contact .nav-card a.gmail .icon svg {
    padding 0
}
.contact .nav-card a.gmail .content h1 {
  color: #d14836;
}
.contact .nav-card a.facebook .icon svg {
  background-color: #24292E;
  padding 10px
}
.contact .nav-card a.facebook .content h1 {
  color: #24292E;
}
.contact .nav-card a.twitter .icon {
  display flex
  justify-content center
  align-items center
  color white
  font-weight 800
  background #424B5F
  font-size 25px
}
.contact .nav-card a.twitter .content h1 {
  color: #424B5F;
}
.contact .nav-card a .icon {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.contact .nav-card a .icon svg {
  width: 100%;
  height: 100%;
  padding: 14px;
  box-sizing: border-box;
}
.contact .nav-card a .icon svg path {
  fill: #ffffff;
}
.contact .nav-card a .content h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: .4px;
}
.contact .nav-card a .content span {
  font-size: 14px;
  color: #b3b3b3;
  display: block;
  letter-spacing: .4px;
}

body {
    display -webkit-flex
    display -ms-flex
    display flex
    overflow-x hidden
    font-family: 'Ubuntu', sans-serif;
}

ol li {
    color #5a5a5a
}

.wrapper {
    max-width 1400px
    margin 150px auto
    text-align center
}

aside {
    width 160px
    height 94vh
    margin-top 60px
    background #372db4
    position fixed
    top 0
    left 0
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    z-index 2
}

.cd-intro-content {
    margin-left 260px
}

.burger {
    height 60px
    display flex
    justify-content center
    align-items center
    position fixed
    top 0
    left 0
    width 160px
    background #372DB4
    cursor pointer
    z-index 2
    i {
        color white
        font-size 20px
    }
}

.avatar {
    height 140px
    background #fff
    position relative
    z-index 11
    display flex
    justify-content center
    align-items center
    .ava {
        background url('img/vL1ng-ojrIc.jpg')
        width 120px
        height 120px
        background-size cover
    }
}

.name {
    height 40px
    display flex
    justify-content center
    align-items center
    background #fff
    font-family: 'Lora', serif;
    font-size 16px
    user-select none
}

.nav_item {
    width 100%
    height 100px
    display flex
    justify-content center
    align-items center
    flex-direction column
    border-bottom 1px solid #493fc8
    &:hover {
        background-color: #493fc8;
        i {
            color white
        }
        span {
            color white
        }
    }
    span {
        color rgba(255, 255, 255, 0.65)
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        letter-spacing 1.1px
        font-weight: 400;
        line-height: 35px;
        text-transform: uppercase;
    }
    i {
        font-size 25px
        color rgba(255, 255, 255, 0.65)
    }
}

main {
    width 100%
}

.main {
    display flex
    justify-content center
    align-items center
    min-width: calc(100% - 160px);
    height 100vh
    background url('img/1.jpg')
    background-size cover
}

.main_text {
    display -webkit-flex
    display -ms-flex
    display flex
    flex-direction column
    h1 {
        opacity: 0.2 !important;
        color: #35373e;
        font-family: 'Ubuntu', sans-serif;
        font-size-responsive: 90px 200px 480px 1280px
        font-weight: 400;
        line-height: 242.8px;
        user-select none
        color: white;
    }
    span {
        color: #35373e;
        font-family: 'Lora', serif;
        font-size-responsive: 25px 50px 480px 1280px
        font-weight: 700;
        line-height: 52.8px;
        text-transform: uppercase;
        user-select none
        color: white;
        text-shadow: 1px 1px #372DB4, 1px -1px #372DB4, -1px 1px #372DB4, -1px -1px #372DB4, 3px 3px 6px rgba(0,0,0,.5);
    }
}

.social {
    width 100%
    display -webkit-flex
    display -ms-flex
    display flex
    justify-content space-around
    position absolute
    bottom 30px
    i {
        color rgba(255, 255, 255, 0.65)
        font-size 25px
        &:hover {
            color white
        }
    }
}

// __about

.about {

    h2 {
        color: #000000;
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    h3 {
        margin 20px 0
        color: #a8a8a8;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.6px;
    }
}

.line {
    width 100%
    height 12px
    background url('img/line.png') no-repeat center
    margin 30px 0
}

.about_wrap {
    display -webkit-flex
    display -ms-flex
    display flex
    align-items flex-start
    margin-top 40px
    text-align left
    span {
        color: #5a5a5a;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 26px;
    }
}

.img-and-cont {
    img {
        max-width 350px
    }
}

.about_text {
    margin-left 20px
}

.intend_text span {
	margin-bottom 10px
	display block
}

.about_brif {
    display -webkit-flex
    display -ms-flex
    display flex
    margin-bottom 20px
}

.about_brif-left {
    margin-right 150px
}

.brif-item {
    display flex
    align-items center
    h5 {
        margin-right 5px
        color: #35373e;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
    }
}


// __portfolio

.portfolios {
    min-height 101vh
}

.portfolio-filter {
    display -webkit-flex
    display -ms-flex
    display flex
    flex-wrap wrap
    .filter_item {
        margin 0 10px
        color: #7d7d7d;
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        cursor pointer
        padding 15px
    }
    .mixitup-control-active {
        border: 1px solid #35373e;
        color #35373e !important
    }
}

.portfolio_works {
    display grid
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 25px;
    margin-top 30px
}

.work {
    height: 360px;
    background-color: #a1a1a1;
    position relative
    overflow hidden
    background-size cover !important
    display block
    .github {
        position absolute
        top 10px
        right 10px
        width 45px
        z-index 1
        opacity 0.7
    }
    .cover {
        width 100%
        height 100%
        transition 0.5s
    }
    &:hover {
    .work_text {
        top 50%
    }
    .cover {
        background rgba(0, 0, 0, 0.6)
    }
    h4 {
        background none
    }
    .github {
        opacity 1
    }
}
    h4 {
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom 30px
        text-transform: uppercase;
        letter-spacing: 1.4px;
        width 100%
        display block
        background rgba(0, 0, 0, 0.6)
        height 50px
        display flex
        justify-content center
        align-items center
        transition 0.5s
    }
    span {
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: 300;
        margin-bottom 50px
        display block
        padding 0 20px
        line-height 1.4
    }
}

.work_text {
    position absolute
    top 415px
    height 210px
    left:50%
    transform translate(-50%, -50%)
    width 100%
    transition top 0.5s
}

.technology {
    padding 0 20px
}

.technology_item {
    display inline-block
    padding 8px 13px
    color white
    margin 3px
    font-size 16px
    margin-bottom 10px
    text-transform: uppercase;
}

.html {
    background #ff6949
}

.jquery {
    background #006ab1
}

.bootstrap {
    background #68429a
}

.wordpress {
    background #42a5f5
}

.php {
    background #1ac6ff
}

.javascript {
    background #00dcdc
}

.react {
    background #00a79b
}

.vue {
    background #5EC295
}

.work_map {
    background:url('img/portfolio/map.png') center
}

.work_prim {
    background:url('img/portfolio/prim.png') center
}

.work_self {
    background:url('img/portfolio/self.png') center
}

.work_weather {
    background:url('img/portfolio/weather.jpg') center
}

.work_pasta {
    background:url('img/portfolio/people_pasta.png') center
}

.work_check {
    background:url('img/portfolio/todo.jpg') center
}

.work_zenit {
    background:url('img/portfolio/zenit.jpg') center
}

.work_news {
    background:url('img/portfolio/news.png') center
}

.work_online {
    background:url('img/portfolio/online.png') center
}

.work_shop {
    background:url('img/portfolio/shop.png') center
}

.work_acrostia {
    background:url('img/portfolio/acrostia.png') center
}

.work_quiz_vue {
    background:url('img/portfolio/quiz-vue.png') center
}

// Мои навыки

.skills {
    display grid
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 25px;
    margin-bottom 70px
    margin-top 50px
    .skill {
        height 250px
        box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
        display flex
        justify-content center
        flex-direction column
        align-items center
        img {
            height 80px
        }
    }

}

@media(max-width: 1050px) {
    .about_wrap {
        flex-direction column
        align-items center
        margin-left 10px
        .about_brif {
            justify-content: flex-start;
        }
        img {
            margin-bottom 20px
        }
        .contact {
            display none
        }
    }
}

@media(max-width: 750px) {
    aside, .avatar, .name {
        display none
    }
    aside {
        width 140px
    }
    .burger {
        border-bottom: 1px solid #493fc8;
        width 140px
    }
    .main_text {
        margin-left 15px
    }
    .panel {
        margin-left 0
        width 100%
    }
    .cd-intro-content {
        margin-left 0
    }
    .about_brif-left {
        margin-right 0
    }
    .social {
        bottom 40px
    }
    .skills .skill {
        margin-left 10px
        margin-right 10px
        box-shadow: 1px 2px 3px 0px rgba(50,50,50,0.75)
    }
    .about_text {
        margin-left 10px
        margin-right 10px
    }
    #form_wrap::before, #form_wrap:after {
        display none
    }
    #wrap, #form_wrap, form {
        width 100%
    }
    form {
        position: initial;
        top 0
        height 300px
    }
    #form_wrap:hover, #form_wrap:focus {
        height: 446px;
        top 0
    }
    input[type=text], textarea {
        width 310px
    }
    .nav_item {
        height 80px
    }
}
